* {
    margin :0;
}

.app {
    /* background-color: #fafafa; */
    margin-left: 385px;
}

.flex-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 4px;
    height: 30px;
}

.element {
    min-width: 210px;
    height: 30px;
    /* margin-bottom: 15px; */
    background-color: #e4dede;;
    border: 1px solid lightgray;
    text-align: center;
}
